%h1 Disclaimer
%p Het team achter u-can-act neemt de richtlijnen van de Ethische Commissie Psychologie van de Rijksuniversiteit Groningen in |
    acht. Wij garanderen daarnaast dat informatie die is verkregen via u-can-act niet zal worden verkocht |
    aan andere organisaties. We zorgen er voor dat de door deelnemers ingevulde gegevens |
    vertrouwelijk worden behandeld en anoniem worden opgeslagen in een beveiligde digitale |
    omgeving. De geanonimiseerde gegevens zullen gebruikt worden voor wetenschappelijk onderzoek. |

%h2 Informatie
%p Hoewel het team van u-can-act alle zorgvuldigheid in acht neemt bij het samenstellen en |
    onderhouden van de website en de webapp van u-can-act (en daarbij gebruik maakt van bronnen die |
    betrouwbaar worden geacht), sluit u-can-act uitdrukkelijk alle aansprakelijkheid uit ten aanzien van: |

%ul
    %li i) de juistheid, volledigheid en actualiteit van de geboden informatie; 
    %li ii) het foutloze of ononderbroken gebruik van u-can-act; en 
    %li iii) enigerlei directe of indirecte schade, van welke aard dan ook, die voortvloeit uit of in enig opzicht verband houdt met het gebruik van u-can-act.

%p u-can-act is ook niet aansprakelijk voor mogelijke schade als gevolg van het gebruik van uw mobiele telefoon |
    voor het onderzoek, ongeacht of u zich bewust was van de mogelijkheid (tot het zich voordoen) van |
    dergelijke schade. Er kan op generlei wijze rechten worden ontleend aan de beloning, dan wel aan de |
    indicatie van de maximaal te verdienen beloning die in de webapp wordt vermeld. Tevens kan |
    er op generlei wijze rechten worden ontleend aan de informatie op u-can-act. |

%h2 Intellectueel eigendom
%p u-can-act behoudt zich alle intellectuele eigendomsrechten en andere rechten voor met betrekking |
    tot de op of via deze website aangeboden informatie (waaronder alle teksten, grafisch materiaal en |
    logo's). Dit betekent dat het niet is toegestaan de op u-can-act vertoonde informatie te kopiëren, te |
    downloaden, of op enigerlei wijze openbaar te maken, te verspreiden, of te verveelvoudigen (ook |
    niet via een eigen netwerk), zonder voorafgaande schriftelijke toestemming. U mag informatie op u- |
    can-act echter wel afdrukken en/of downloaden voor persoonlijk gebruik. Daarnaast behoudt u-can-act |
    zich het recht voor de op of via u-can-act aangeboden materialen (met inbegrip van de tekst van |
    deze disclaimer) te allen tijde te wijzigen of te verwijderen zonder hiervan nadere aankondiging te |
    doen. Op u-can-act en de disclaimer is het Nederlands recht van toepassing. |

%h2 Privacy- en cookieverklaring
%p We respecteren de privacy van bezoekers van de website en dragen er zorg voor dat de persoonlijke |
    informatie die u ons verschaft vertrouwelijk wordt behandeld. Verwerking van de persoonsgegevens |
    gebeurt op een wijze, die in overeenstemming is met de eisen die de Wet Bescherming |
    Persoonsgegevens stelt. Door gebruik te maken van de u-can-act website geeft u toestemming voor |
    het plaatsen en aflezen van functionele en analytische cookies die helpen de kwaliteit en/of |
    effectiviteit van de website te verbeteren. Een cookie is een eenvoudig klein bestandje dat met |
    pagina’s van deze website wordt meegestuurd en door uw browser op de harde schijf van uw |
    computer wordt opgeslagen. Via u-can-act worden analytische cookies geplaatst van het bedrijf |
    Google. Deze cookies bevatten geen persoonsgegevens en zijn dus niet tot een individu te herleiden, |
    omdat het IP-adres van iedere bezoeker is geanonimiseerd, en de gegevens in Google Analytics niet |
    worden gedeeld. Deze cookies kunnen worden gebruikt voor statistische analyses van bezoek- en |
    klikgedrag om de functionaliteit en effectiviteit van de website te kunnen optimaliseren. Deze |
    cookies volgen u niet op andere websites. U kunt deze cookies uitzetten via uw browser (zie voor een |
    toelichting van de consumentenbond #{link_to 'hier', 'https://www.consumentenbond.nl/internet-privacy/cookies-verwijderen/', target: '_blank'}. |
    Wij behouden ons het recht voor deze privacy statement |
    aan te passen. Wijzigingen zullen op deze website worden gepubliceerd. |

%p Bij deelname aan u-can-act gaat u akkoord met deze voorwaarden, druk- en zetfouten voorbehouden. 
