*.rbc
*.csv
/.idea
capybara-*.html
/log
/tmp/cache
/tmp/capybara
/tmp/data
/tmp/restart.txt
/tmp/rspec_guard_result
/tmp/db
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-*
/coverage/
/spec/tmp
# Next line is invalid according to Ripgrep
# **.orig
rerun.txt
routes.txt
docker-compose.override.yml
pickle-email-*.html

# dotenv
.env.local
.env.test.local

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Windows ignores:
tmp/pids
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Rubymine excludes
/.idea/workspace.xml
/.idea/.generators
/.idea/.rakeTasks
/.idea/inspectionProfiles/*

coverage

/.idea/vsv.iml
/.idea/ikia.iml
/.idea/encodings.xml
/.idea/codeStyleSettings.xml
/.idea/codeStyles/*
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/*
/.idea/runConfigurations/*
/.idea/webResources.xml

# Let the translations file be generated
/public/javascripts/translations.js

privatekey.pem
certificate.pem

.DS_Store

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
