apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-worker
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: worker
spec:
{{- if not .Values.autoscaling.worker.enabled }}
  replicas: {{ .Values.workerReplicaCount }}
{{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
      app.kubernetes.io/component: worker
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 100%
  template:
    metadata:
      labels:
        track: stable
        app.kubernetes.io/name: {{ .Release.Name }}
        app.kubernetes.io/component: worker
    spec:
{{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{- range .Values.imagePullSecrets }}
        - name: {{ . | quote }}
{{- end }}
{{- end }}
      containers:
        - name: {{ .Release.Name }}
          imagePullPolicy: Always
          image: docker.io/researchableuser/sdv-svc-questionnaires:{{ .Values.tag }}
          resources:
            limits:
              memory: {{ .Values.memory.worker.limit }}
            requests:
              memory: {{ .Values.memory.worker.request }}
          command: ['bundle', 'exec', 'rake', 'jobs:work']
          {{- include "container.env" . | indent 10 }}
