/* line 1, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.otherwise-textfield {
  margin-top: -20px;
}

/* line 4, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.extra-spacing.row {
  padding-top: 3rem;
  margin-bottom: -2rem;
}

/* line 8, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
input[type=range] {
  margin-top: 26px;
}

/* line 11, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
input[type=range]::-webkit-slider-thumb {
  margin-top: -16px;
}

/* line 14, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
input[disabled].otherwise {
  cursor: pointer;
}

/* line 17, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 19, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
ol ol ol {
  list-style-type: decimal;
}

/* line 23, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.section-explanation {
  font-weight: bold;
}

/* line 26, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.hidden {
  display: none;
}

/* line 29, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.questionnaire-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 35, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.questionnaire-quote {
  font-style: italic;
}

/* line 39, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.btn.expandable_button {
  margin-right: 10px;
}
