/* line 3, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .tooltip, .student .tooltip {
  color: #99b5cd;
  font-size: 175%;
  padding-left: 3px;
  vertical-align: middle;
  cursor: help;
}
/* line 10, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .toast, .student .toast {
  background-color: #99b5cd;
}
/* line 14, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .otherwise-textfield label, .student .otherwise-textfield label {
  margin-bottom: 20px;
}
/* line 18, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .input-field.inline, .student .input-field.inline {
  margin-top: -21px;
  top: 16px;
}
/* line 22, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .extra-spacing.row, .student .extra-spacing.row {
  padding-top: 3rem;
  margin-bottom: -2rem;
}
/* line 26, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor input[type=range], .student input[type=range] {
  margin-top: 26px;
}
/* line 29, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor input[type=range]::-webkit-slider-thumb, .student input[type=range]::-webkit-slider-thumb {
  margin-top: -16px;
}
/* line 32, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor input[disabled].otherwise, .student input[disabled].otherwise {
  cursor: pointer;
}
/* line 35, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor ol ol, .student ol ol {
  list-style-type: lower-alpha;
}
/* line 37, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor ol ol ol, .student ol ol ol {
  list-style-type: decimal;
}
/* line 41, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .section-explanation, .student .section-explanation {
  font-weight: bold;
}
/* line 44, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .hidden, .student .hidden {
  display: none;
}
/* line 47, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .questionnaire-image, .student .questionnaire-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 53, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .questionnaire-quote, .student .questionnaire-quote {
  font-style: italic;
}
/* line 56, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor .btn.expandable_button, .student .btn.expandable_button {
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 60, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/questionnaire.scss */
.mentor input[type="checkbox"] + label, .mentor input[type="radio"] + label, .student input[type="checkbox"] + label, .student input[type="radio"] + label {
  display: inline;
}
