/* line 3, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/reward_page.scss */
.progressRadial .rbc-label-start {
  fill: #FFD700;
  font-size: 25px;
}
/* line 7, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/reward_page.scss */
.progressRadial .rbc-center-text-line1 {
  font-size: 70px;
  padding: 10px;
}

/* line 84, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/reward_page.scss */
.fireworks_component .pyro > .before, .fireworks_component .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow, 0 0 yellow;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
/* line 93, /Users/frbl/Workspace/compsy/vsv/app/assets/stylesheets/reward_page.scss */
.fireworks_component .pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
  to {
    box-shadow: -183px -76.6666666667px #f2ff00, -149px 18.3333333333px #00ff55, -45px 31.3333333333px #006fff, -185px -386.6666666667px #9d00ff, -101px -297.6666666667px #7b00ff, -219px 71.3333333333px #00ff6f, -240px -242.6666666667px #e100ff, 240px -387.6666666667px #ff1e00, 84px -398.6666666667px #00ffa2, -121px 57.3333333333px #6200ff, -191px -169.6666666667px #0d00ff, 51px 35.3333333333px #001aff, 66px -326.6666666667px #ff00c4, 218px -253.6666666667px #00ffe1, -41px 31.3333333333px #00ff59, -51px -122.6666666667px #00ff91, 156px -143.6666666667px #33ff00, 27px -165.6666666667px #ccff00, -33px -375.6666666667px #ff00b3, 217px -125.6666666667px #04ff00, 174px -179.6666666667px #ff0066, -247px -300.6666666667px #ff3700, 34px -405.6666666667px #00d0ff, -234px -28.6666666667px #3c00ff, -82px -86.6666666667px #00d9ff, 152px -120.6666666667px #ddff00, 107px -74.6666666667px #c800ff, -20px -353.6666666667px #d5ff00, -11px -229.6666666667px #fffb00, 96px -405.6666666667px #0055ff, 21px -126.6666666667px #ff1100, 12px -132.6666666667px #ff0009, 137px -374.6666666667px #80ff00, 227px 59.3333333333px #0400ff, -176px -242.6666666667px #88ff00, -15px -358.6666666667px #0051ff, -5px -232.6666666667px #0066ff, -166px -290.6666666667px #00e1ff, 65px -53.6666666667px #00ff88, -127px -257.6666666667px #ff00f7, -208px -59.6666666667px #ff005e, 33px -269.6666666667px #0009ff, -32px -174.6666666667px #1a00ff, -69px -110.6666666667px #ff8800, -1px -327.6666666667px #ff8000, -136px -345.6666666667px #0099ff, 236px -102.6666666667px #0066ff, -153px 51.3333333333px #00ff51, -41px 47.3333333333px #2f00ff, 237px -356.6666666667px #e600ff, 64px -313.6666666667px #ff009d;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -183px -76.6666666667px #f2ff00, -149px 18.3333333333px #00ff55, -45px 31.3333333333px #006fff, -185px -386.6666666667px #9d00ff, -101px -297.6666666667px #7b00ff, -219px 71.3333333333px #00ff6f, -240px -242.6666666667px #e100ff, 240px -387.6666666667px #ff1e00, 84px -398.6666666667px #00ffa2, -121px 57.3333333333px #6200ff, -191px -169.6666666667px #0d00ff, 51px 35.3333333333px #001aff, 66px -326.6666666667px #ff00c4, 218px -253.6666666667px #00ffe1, -41px 31.3333333333px #00ff59, -51px -122.6666666667px #00ff91, 156px -143.6666666667px #33ff00, 27px -165.6666666667px #ccff00, -33px -375.6666666667px #ff00b3, 217px -125.6666666667px #04ff00, 174px -179.6666666667px #ff0066, -247px -300.6666666667px #ff3700, 34px -405.6666666667px #00d0ff, -234px -28.6666666667px #3c00ff, -82px -86.6666666667px #00d9ff, 152px -120.6666666667px #ddff00, 107px -74.6666666667px #c800ff, -20px -353.6666666667px #d5ff00, -11px -229.6666666667px #fffb00, 96px -405.6666666667px #0055ff, 21px -126.6666666667px #ff1100, 12px -132.6666666667px #ff0009, 137px -374.6666666667px #80ff00, 227px 59.3333333333px #0400ff, -176px -242.6666666667px #88ff00, -15px -358.6666666667px #0051ff, -5px -232.6666666667px #0066ff, -166px -290.6666666667px #00e1ff, 65px -53.6666666667px #00ff88, -127px -257.6666666667px #ff00f7, -208px -59.6666666667px #ff005e, 33px -269.6666666667px #0009ff, -32px -174.6666666667px #1a00ff, -69px -110.6666666667px #ff8800, -1px -327.6666666667px #ff8000, -136px -345.6666666667px #0099ff, 236px -102.6666666667px #0066ff, -153px 51.3333333333px #00ff51, -41px 47.3333333333px #2f00ff, 237px -356.6666666667px #e600ff, 64px -313.6666666667px #ff009d;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -183px -76.6666666667px #f2ff00, -149px 18.3333333333px #00ff55, -45px 31.3333333333px #006fff, -185px -386.6666666667px #9d00ff, -101px -297.6666666667px #7b00ff, -219px 71.3333333333px #00ff6f, -240px -242.6666666667px #e100ff, 240px -387.6666666667px #ff1e00, 84px -398.6666666667px #00ffa2, -121px 57.3333333333px #6200ff, -191px -169.6666666667px #0d00ff, 51px 35.3333333333px #001aff, 66px -326.6666666667px #ff00c4, 218px -253.6666666667px #00ffe1, -41px 31.3333333333px #00ff59, -51px -122.6666666667px #00ff91, 156px -143.6666666667px #33ff00, 27px -165.6666666667px #ccff00, -33px -375.6666666667px #ff00b3, 217px -125.6666666667px #04ff00, 174px -179.6666666667px #ff0066, -247px -300.6666666667px #ff3700, 34px -405.6666666667px #00d0ff, -234px -28.6666666667px #3c00ff, -82px -86.6666666667px #00d9ff, 152px -120.6666666667px #ddff00, 107px -74.6666666667px #c800ff, -20px -353.6666666667px #d5ff00, -11px -229.6666666667px #fffb00, 96px -405.6666666667px #0055ff, 21px -126.6666666667px #ff1100, 12px -132.6666666667px #ff0009, 137px -374.6666666667px #80ff00, 227px 59.3333333333px #0400ff, -176px -242.6666666667px #88ff00, -15px -358.6666666667px #0051ff, -5px -232.6666666667px #0066ff, -166px -290.6666666667px #00e1ff, 65px -53.6666666667px #00ff88, -127px -257.6666666667px #ff00f7, -208px -59.6666666667px #ff005e, 33px -269.6666666667px #0009ff, -32px -174.6666666667px #1a00ff, -69px -110.6666666667px #ff8800, -1px -327.6666666667px #ff8000, -136px -345.6666666667px #0099ff, 236px -102.6666666667px #0066ff, -153px 51.3333333333px #00ff51, -41px 47.3333333333px #2f00ff, 237px -356.6666666667px #e600ff, 64px -313.6666666667px #ff009d;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -183px -76.6666666667px #f2ff00, -149px 18.3333333333px #00ff55, -45px 31.3333333333px #006fff, -185px -386.6666666667px #9d00ff, -101px -297.6666666667px #7b00ff, -219px 71.3333333333px #00ff6f, -240px -242.6666666667px #e100ff, 240px -387.6666666667px #ff1e00, 84px -398.6666666667px #00ffa2, -121px 57.3333333333px #6200ff, -191px -169.6666666667px #0d00ff, 51px 35.3333333333px #001aff, 66px -326.6666666667px #ff00c4, 218px -253.6666666667px #00ffe1, -41px 31.3333333333px #00ff59, -51px -122.6666666667px #00ff91, 156px -143.6666666667px #33ff00, 27px -165.6666666667px #ccff00, -33px -375.6666666667px #ff00b3, 217px -125.6666666667px #04ff00, 174px -179.6666666667px #ff0066, -247px -300.6666666667px #ff3700, 34px -405.6666666667px #00d0ff, -234px -28.6666666667px #3c00ff, -82px -86.6666666667px #00d9ff, 152px -120.6666666667px #ddff00, 107px -74.6666666667px #c800ff, -20px -353.6666666667px #d5ff00, -11px -229.6666666667px #fffb00, 96px -405.6666666667px #0055ff, 21px -126.6666666667px #ff1100, 12px -132.6666666667px #ff0009, 137px -374.6666666667px #80ff00, 227px 59.3333333333px #0400ff, -176px -242.6666666667px #88ff00, -15px -358.6666666667px #0051ff, -5px -232.6666666667px #0066ff, -166px -290.6666666667px #00e1ff, 65px -53.6666666667px #00ff88, -127px -257.6666666667px #ff00f7, -208px -59.6666666667px #ff005e, 33px -269.6666666667px #0009ff, -32px -174.6666666667px #1a00ff, -69px -110.6666666667px #ff8800, -1px -327.6666666667px #ff8000, -136px -345.6666666667px #0099ff, 236px -102.6666666667px #0066ff, -153px 51.3333333333px #00ff51, -41px 47.3333333333px #2f00ff, 237px -356.6666666667px #e600ff, 64px -313.6666666667px #ff009d;
  }
}
@keyframes bang {
  to {
    box-shadow: -183px -76.6666666667px #f2ff00, -149px 18.3333333333px #00ff55, -45px 31.3333333333px #006fff, -185px -386.6666666667px #9d00ff, -101px -297.6666666667px #7b00ff, -219px 71.3333333333px #00ff6f, -240px -242.6666666667px #e100ff, 240px -387.6666666667px #ff1e00, 84px -398.6666666667px #00ffa2, -121px 57.3333333333px #6200ff, -191px -169.6666666667px #0d00ff, 51px 35.3333333333px #001aff, 66px -326.6666666667px #ff00c4, 218px -253.6666666667px #00ffe1, -41px 31.3333333333px #00ff59, -51px -122.6666666667px #00ff91, 156px -143.6666666667px #33ff00, 27px -165.6666666667px #ccff00, -33px -375.6666666667px #ff00b3, 217px -125.6666666667px #04ff00, 174px -179.6666666667px #ff0066, -247px -300.6666666667px #ff3700, 34px -405.6666666667px #00d0ff, -234px -28.6666666667px #3c00ff, -82px -86.6666666667px #00d9ff, 152px -120.6666666667px #ddff00, 107px -74.6666666667px #c800ff, -20px -353.6666666667px #d5ff00, -11px -229.6666666667px #fffb00, 96px -405.6666666667px #0055ff, 21px -126.6666666667px #ff1100, 12px -132.6666666667px #ff0009, 137px -374.6666666667px #80ff00, 227px 59.3333333333px #0400ff, -176px -242.6666666667px #88ff00, -15px -358.6666666667px #0051ff, -5px -232.6666666667px #0066ff, -166px -290.6666666667px #00e1ff, 65px -53.6666666667px #00ff88, -127px -257.6666666667px #ff00f7, -208px -59.6666666667px #ff005e, 33px -269.6666666667px #0009ff, -32px -174.6666666667px #1a00ff, -69px -110.6666666667px #ff8800, -1px -327.6666666667px #ff8000, -136px -345.6666666667px #0099ff, 236px -102.6666666667px #0066ff, -153px 51.3333333333px #00ff51, -41px 47.3333333333px #2f00ff, 237px -356.6666666667px #e600ff, 64px -313.6666666667px #ff009d;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
