%table
  %thead
    %tr
      %th Organization
      %th Completed (past week)
      %th Completed percentage (past week)
  %tbody
    - current_overview.each do |entry|
      %tr
        %td #{entry[:name]}
        %td #{entry[:completed]}
        %td #{entry[:percentage_completed]}%
