= render partial: 'shared/header'
= QuestionnaireGenerator.generate_questionnaire(nil,          |
  @questionnaire.content,                    |
  @questionnaire.title,                      |
  'Opslaan',                                                          |
  '/admin/preview_done',                                                 |
  form_authenticity_token(form_options: { action: '/admin/preview_done', method: 'post' }))
