= render partial: 'shared/header'
= QuestionnaireGenerator.generate_questionnaire(@response.id,
  @protocol.informed_consent_questionnaire.content,
  @protocol.informed_consent_questionnaire.title,
  'Volgende',
  '/informed_consent',
  form_authenticity_token(form_options: { action: '/informed_consent', method: 'post' }),
  Rails.application.routes.url_helpers.questionnaire_path(uuid: @response.uuid))
