= image_tag logo_image, style: 'width:20%; margin: auto; display: block;', class: 'right-align'
= QuestionnaireGenerator.generate_questionnaire(@response.id,          |
  @protocol.informed_consent_questionnaire.content,                    |
  @protocol.informed_consent_questionnaire.title,                      |
  'Volgende',                                                          |
  '/informed_consent',                                                 |
  form_authenticity_token(form_options: { action: '/informed_consent', method: 'post' }))
