:javascript
  $(document).ready( function() {
    $( "#questionnaire_content #action" ).click(function( event ) {
      event.preventDefault();

      var data = {'content': $('#content').val()};
      $.post( "/questionnaire/interactive_render", data, function( data ) {
        $( ".result" ).html( data );
        $(".example-title").show();
      }).fail(function(err) {
        console.log(err);
        $( ".result" ).html( err.responseText );
      });
    });
  });
.row
  %form.col.s12#questionnaire_content
    .row
      .input-field.col.s12
        %textarea#content.materialize-textarea #{@default_content}
        %label{for: "content"} Questionnaire JSON 
    .row
      %button.btn.waves-effect.waves-light{name: 'action', id: 'action'}  Submit
%h3.example-title{style: "display: none;"} Example questionnaire
.result.mentor
