%h3{:style => "font-size: 18px; color: #252828; font-weight: 700;"} #{@message}
%p Klik op de volgende link om hem in te vullen:
%p
  =link_to @invitation_url, class: "cta-button", style: 'text-decoration: none; background-color:#3498db;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;display:inline-block;color:#fff;padding:0 20px;-webkit-box-shadow:0 0 0 10px rgba(255,255,255,0.8);-moz-box-shadow:0 0 0 10px rgba(255,255,255,0.8);box-shadow:0 0 0 10px rgba(255,255,255,0.8)' do
    %span{style:"line-height:50px"}Vul de vragenlijst in
%p Alvast hartelijk dank!
%p Het team achter u-can-act.
