= favicon_link_tag 'favicon.ico'
= render 'shared/android_icons_head', prefix: 'Icon', icon_sizes: %w(192 128)
= render 'shared/apple_icons_head', prefix: 'Icon', icon_sizes: %w(57 60 72 76 114 120 144 152 180)
= render 'shared/windows_icons_head'
