- unless Rails.env.development?
  :javascript
    window.onbeforeunload = function() { return true };
= image_tag logo_image, style: 'margin: auto; display: block;', class: 'right-align' unless logo_image.blank?
