<div class="col s12">
  <p class="flow-text">
    current reward points: <%= @protocol_subscription.reward_points %>
  </p>
  <p class="flow-text">
    possible reward points: <%= @protocol_subscription.possible_reward_points %>
  </p>
  <p class="flow-text">
    max reward points: <%= @protocol_subscription.max_reward_points %>
  </p>
</div>
