@charset "UTF-8";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 *= require animate
 *= require admin_interface
 *= require project
 */
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Internet Explorer stuff
#noscript {
  display: none;
}
.lt-ie10 {
  #noscript {
    display: block;
  }
  .container {
    display: none !important;
  }
}

@import "materialize/components/color-variables";

$primary-color: color("blue", "lighten-2");
$input-border-color: color("grey", "darken-2");

// Make range sliders easier to use on mobile
$range-height: 35px;
$range-width: 35px;

$u-can-act-blue: #243a76;

// #1B2962; buenaparte blue
$u-can-act-green: #009a74;

// #128B61; buenaparte green
$u-can-act-yellow: #edb800;

// if blue is 2316a5
//$u-can-act-yellow: #edb900; // if blue is 2516a5
$u-can-act-orange: #ed5800;

// if green is 009a73
$u-can-act-grey: #99b5cd;
$u-can-act-light-grey: #f6f6f6;

$unchanged-range-thumb: #c2c0c2;

.accent-color-text {
  color: $u-can-act-green;
}

.accent-color {
  background-color: $u-can-act-green;
}

.mentor {
  $accent-color: $u-can-act-blue;
  $secondary-color: $u-can-act-blue;

  // Variables;
  @import "materialize/components/variables";

  // Reset
  @import "materialize/components/normalize";

  // materialize/components
  @import "materialize/components/global";
  @import "materialize/components/badges";
  @import "materialize/components/icons-material-design";
  @import "materialize/components/grid";
  @import "materialize/components/navbar";

  //@import "materialize/components/roboto";
  @import "materialize/components/typography";
  @import "materialize/components/transitions";
  @import "materialize/components/cards";
  @import "materialize/components/toast";
  @import "materialize/components/tabs";
  @import "materialize/components/tooltip";
  @import "materialize/components/buttons";
  @import "materialize/components/dropdown";
  @import "materialize/components/waves";
  @import "materialize/components/modal";
  @import "materialize/components/collapsible";
  @import "materialize/components/chips";
  @import "materialize/components/materialbox";
  @import "materialize/components/forms/forms";
  @import "materialize/components/table_of_contents";
  @import "materialize/components/preloader";
  @import "materialize/components/slider";
  @import "materialize/components/carousel";
  @import "materialize/components/tapTarget";
  @import "materialize/components/pulse";
  @import "materialize/components/datepicker";
  @import "materialize/components/timepicker";

  @import "reward_page";
  @import "questionnaire";
  @import "settings";
}

.student {
  $accent-color: $u-can-act-green;
  $secondary-color: $u-can-act-green;

  // Variables;
  @import "materialize/components/variables";

  // Reset
  @import "materialize/components/normalize";

  // materialize/components
  @import "materialize/components/global";
  @import "materialize/components/badges";
  @import "materialize/components/icons-material-design";
  @import "materialize/components/grid";
  @import "materialize/components/navbar";

  //@import "materialize/components/roboto";
  @import "materialize/components/typography";
  @import "materialize/components/transitions";
  @import "materialize/components/cards";
  @import "materialize/components/toast";
  @import "materialize/components/tabs";
  @import "materialize/components/tooltip";
  @import "materialize/components/buttons";
  @import "materialize/components/dropdown";
  @import "materialize/components/waves";
  @import "materialize/components/modal";
  @import "materialize/components/collapsible";
  @import "materialize/components/chips";
  @import "materialize/components/materialbox";
  @import "materialize/components/forms/forms";
  @import "materialize/components/table_of_contents";
  @import "materialize/components/preloader";
  @import "materialize/components/slider";
  @import "materialize/components/carousel";
  @import "materialize/components/tapTarget";
  @import "materialize/components/pulse";
  @import "materialize/components/datepicker";
  @import "materialize/components/timepicker";

  @import "questionnaire";
  @import "reward_page";
  @import "settings";
}

.mentor, .student {
  .light-grey-background-color {
    background-color: $u-can-act-light-grey;
  }
}

@import "materialize";


// Feedback button
.feedback-button {
  height: 40px;
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.7) !important;
  width: 100px;
  box-sizing: border-box;
  padding-bottom: 5px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: #fff !important;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  border-radius: 3px 3px 0 0;
  top: 75%;
  font-family: "Roboto",helvetica,arial,sans-serif;
  z-index: 999;
  transition: all .1s ease-in-out;
}

body {
  -webkit-font-smoothing: antialiased;
}

.success {
  background-color: $u-can-act-green !important;
}

.success-text {
  color: $u-can-act-green !important;
}

.warning {
  background-color: $u-can-act-orange !important;
}

.warning-text {
  color: $u-can-act-orange !important;
}

.logo-image {
  width: 20%;
  margin: auto;
  display: block;
}

.informed-consent {
  p, ul {
    @extend .flow-text;
  }
  li {
    margin-bottom: 0.75rem;
    list-style-type: disc !important;
  }
}
