/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require animate
 */
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "materialize/components/color";

$primary-color: color("blue", "lighten-2") !default;
$input-border-color: color("grey", "darken-1");

// Make range sliders easier to use on mobile
$range-height: 35px;
$range-width: 35px;

$u-can-act-blue: #1B2962;
$u-can-act-green: #128B61;
$u-can-act-grey: #99b5cd;

$accent-color: $u-can-act-blue;
$secondary-color: $u-can-act-blue !default;

@import "materialize";

//TODO: This should be relative to whether we are a student or not
input[type=range]::-webkit-slider-thumb {
  background-color: $u-can-act-blue;
}
input[type=range]::-moz-range-thumb {
  background-color: $u-can-act-blue;
}
input[type=range]::-ms-thumb {
  background-color: $u-can-act-blue;
}

// Text in the balloon
input[type=range] + .thumb {
  background-color: $u-can-act-blue;
}
input[type=range] + .thumb.active .value {
  color: white;
}
