// Limit the maximum size increase of flow-text
// This line is at the top of the file so e.g., tooltip can override it
.flow-text {
  $i: 8;

  @while $i <= $intervals {
    @media only screen and (min-width: 360 + $i * $interval-size) {
      font-size: 1.392rem;
    }

    $i: $i + 1;
  }
}

.tooltip {
  color: $u-can-act-grey;
  font-size: 175%;
  padding-left: 3px;
  vertical-align: middle;
  cursor: help;
  margin-top: -10px;
  margin-bottom: -10px;
}

.toast {
  background: image-url("close.png") 99% 8px / 16px 16px no-repeat padding-box border-box scroll $u-can-act-grey;
  word-break: normal;
  cursor: pointer;
  display: block;
}

.erroneous {
  border-left: 2px solid red !important;
  margin-left: -8px !important;
  padding-left: 6px !important;
}

.otherwise-textfield {
  label {
    margin-bottom: 20px;
  }
}

.input-field.inline {
  margin-top: -21px;
  margin-bottom: 0;
  top: 16px;
}

.extra-spacing.row, .extra-spacing.actions {
  padding-top: 3rem;
  margin-bottom: -2rem;
}

input[type=range] {
  margin-top: 11px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.notchanged {
  input[type=range]::-ms-thumb, input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {
    background: $unchanged-range-thumb;
  }

  input[type=range] + .thumb, input[type=range]::-webkit-slider-thumb {
    background-color: $unchanged-range-thumb;
  }
  &.no-initial-thumb {
    input[type=range]::-ms-thumb, input[type=range]::-moz-range-thumb, input[type=range]::-webkit-slider-thumb {
      background: transparent;
    }

    input[type=range] + .thumb, input[type=range]::-webkit-slider-thumb {
      background-color: transparent;
    }
  }
}

// Note: It doesn't work in Chrome (and possibly other browsers)
// when we nest the thumb thingies under input[type=range] together.
input[type=range]::-webkit-slider-thumb {
  margin-top: -16px;
}

// Fix "the flattening" of input controls in IE.
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 35px 0;
  color: transparent;
}

// Fix that it cuts off the top and bottom when dragging the scroll thumb in Firefox.
input[type=range]:-moz-focusring {
  outline: none;
}

datalist {
  display: flex;
  justify-content: space-between;
  margin-top: -14px;
  color: #6c757d;
  padding-top: 0;
  width: calc(100% - 21.5px);
  margin-left: 10.5px;

  option {
    width: 2ex;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: image-url("tick.png");
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.col .row.label-row {
  position: relative;
  width: calc(100% - 36px);
  margin-left: 18px;
  margin-right: 0;
  .col {
    padding: 0;
    &.left-align {
      transform: translateX(-17px);
    }
    &.right-align {
      transform: translateX(17px);
    }
  }
}

@media only screen and (min-width: 200px) {
  .label-row {
    font-size: 8px;
  }
}
@media only screen and (min-width: 400px) {
  .label-row {
    font-size: 9px;
  }
}
@media only screen and (min-width: 600px) {
  .label-row {
    font-size: 11px;
  }
}
@media only screen and (min-width: 800px) {
  .label-row {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1000px) {
  .label-row {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1201px) {
  .label-row {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .label-row {
    .col {
      display: none;
      &.active {
        display: block;
        position: absolute;
        width: 100% !important;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
      }
    }
  }
}



input[disabled].otherwise {
  cursor: pointer;
}

ol ol {
  list-style-type: lower-alpha;

  ol {
    list-style-type: decimal;
  }
}

.section-explanation {
  font-weight: bold;
}

.hidden {
  display: none;
}

.questionnaire-image {
  width: 80%;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.questionnaire-quote {
  font-style: italic;
}

.btn.expandable_button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.expandable_wrapper {
  @extend .z-depth-3;
  padding-left: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

input[type="checkbox"] + label {
  padding-top: 0.25rem;
  display: inline;
}

.radio-item input[type="radio"]:not(:checked) + label, .radio-item input[type="radio"]:checked + label {
  padding-top: 0.3rem;
  display: inline;
}

form .likert-scale {
  p:first {
    display:block;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 1.25rem 0;
  padding: 0 0 0 0;
}

.input-field.col.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.input-field.col.no-padding label {
  left: 0;
}

// Always make a divider have more room, not just when it's in a section of its own.
// This way, we can just stick a divider in a raw and let it have the same effect as
// a section_start.
.divider {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

// Move questions without titles but that have the title element defined closer to
// their previous element so they appear together (because that's how we use them).
.no-title {
  margin-bottom: -0.55rem;
  position: relative;
  top: -2.61rem;
  padding-top: 0;
  &>.col>p.flow-text:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Fix balloons sticking on mobile
.range-field {
  width: 100%;
  .thumb {
    display: none;

    &.active {
      display: block;
    }
  }
  &.with-ticks {
    margin-bottom: 0;
  }
}

// Fix range labels leaping off the screen
.range-container + .row {
  .col {
    overflow-wrap: break-word;
  }
}
h4, h5, .flow-text {
  overflow: hidden;
}

h4, h5 {
  line-height: 135%;
}

input:not([type]).validate + label, input[type=text]:not(.browser-default).validate + label, input[type=password]:not(.browser-default).validate + label, input[type=email]:not(.browser-default).validate + label, input[type=url]:not(.browser-default).validate + label, input[type=time]:not(.browser-default).validate + label, input[type=date]:not(.browser-default).validate + label, input[type=datetime]:not(.browser-default).validate + label, input[type=datetime-local]:not(.browser-default).validate + label, input[type=tel]:not(.browser-default).validate + label, input[type=number]:not(.browser-default).validate + label, input[type=search]:not(.browser-default).validate + label, textarea.materialize-textarea.validate + label {
  width: calc(100% - 1.5rem);
}

// Fix i'tjes being on a new line
p.option-label, div.otherwise-textfield {
  padding-left: 35px;
}

[type="checkbox"] + span:not(.lever), [type="checkbox"]:not(.filled-in) + span:not(.lever), [type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  display: inline;
  padding-left: 0;

  &:before, &:after {
    top: -0.2rem;
    left: -35px;
  }
}

[type="checkbox"]:checked + span:not(.lever):before {
  top: -0.5rem;
  left: -40px;
}

// Make labels more clickable
label {
  padding-bottom: 8px;
  cursor: pointer;
}

// Make toasts more readable
.toast {
  font-weight: 400;
}

// Use themed colors for the focused select dropdown
select:focus {
  outline-color: $accent-color;
}

// Make buttons at the bottom of a page clickable on iPhone X without bringing up
// the bottom toolbar
button[type="submit"] {
  margin-bottom: 2rem;
}


// Don't have the "Vul iets in" label overlap with the "Anders namelijk" label
.otherwise-textfield > .input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-3px) scale(0.8);
  transform: translateY(-3px) scale(0.8);
}

.likert-item {
  text-align: center;
  vertical-align: center;
  display: block;
   label {
    span {
      display: block !important;
      padding: 2px !important;
       &:before, &:after {
        top: 0!important;
        left: 0!important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2px 2px 2px 2px;
      }
       &:before {
        position: relative;
      }
       &:after {
        bottom: 0;
        right: 0;
      }
       width: 100%;
      text-align: center;
      vertical-align: center;
    }
  }
}

// drawing
.drawing {
  .drawing-container {
    background-image: image-url('pixel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    cursor: crosshair;
  }

  .hideme {
    opacity: 0;
  }

  .drawing-clear {
    margin-right: 8px;
  }

  .drawing-log {
    width: 100%;
    cursor: default;
    overflow-y: scroll;
    display: inline-block;
    background-color: #fff;
  }
}

blockquote {
  color: #666;
}

.datepicker-container {
  .datepicker-controls {
    .select-wrapper {
      input {
        &:focus {
          border-bottom: 1px solid $accent-color;
        }

        border-bottom: 1px solid #616161;
      }

      .caret {
        display: block;
      }
    }

    .select-year input {
      margin-left: 1rem;
      width: 75px;
    }

    .select-month input {
      width: 120px;
    }
  }
}
