<!DOCTYPE html>
<html>
  <head>
    <title>Vsv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <noscript>
      <div class="notices">
        <div class="card-panel alert">
          <strong>Let op:</strong> Uw browser heeft momenteel JavaScript uitstaan. Daardoor worden bepaalde plaatjes niet of niet goed weergegeven.
        </div>
      </div>
    </noscript>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
